
.listing-container{
    width: 95%;
    background-color: rgba(0, 0, 0, 0.501);
    height: 100px;
    margin: 10px;
    color: aliceblue;
    border-radius: 10px;
}
.listing-container img{
    image-rendering: pixelated;
}

.market-btn{
    background-image: url("../../../public/images/ui/btn_bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 70px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}

.market-delete-btn{
    background-image: url("../../../public/images/ui/btn_bg_delete.png");
    width: 130px;
    height: 70px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}

.market-update-btn{
    background-image: url("../../../public/images/ui/btn_bg_update.png");
    width: 130px;
    height: 70px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}