
.listing-container{
    width: 95%;
    background-color: rgba(0, 0, 0, 0.501);
    height: 100px;
    margin: 10px;
    color: aliceblue;
    border-radius: 10px;
}
.listing-container img{
    image-rendering: pixelated;
}

.market-btn{
    background-image: url("../../../public/images/ui/btn_bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 70px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}

.market-delete-btn{
    background-image: url("../../../public/images/ui/btn_bg_delete.png");
    width: 130px;
    height: 70px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}

.market-update-btn{
    background-image: url("../../../public/images/ui/btn_bg_update.png");
    width: 130px;
    height: 70px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}
@media only screen and (max-height: 480px) {
    .market-delete-btn{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100px;
        height: 50px;
        padding-bottom: 10px;
    }
    .market-update-btn{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100px;
        height: 50px;
        padding-bottom: 10px;
    }
    .trade-img{
        width: 50px;
    }
    .listing-container{
        width: 95%;
        background-color: rgba(0, 0, 0, 0.501);
        height: 70px;
        margin: 10px;
        color: aliceblue;
        border-radius: 10px;
        padding: 0px;
    }
    .listing-container p{
        margin: 0;
    }
    .market-btn{
        width: 140px;
        height: 50px;
    }
}