@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Permanent+Marker&family=Press+Start+2P&family=Rubik+Dirt&display=swap');

/*
font-family: 'Frijole', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Dirt', cursive;
*/

.layout {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.hudTop {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
}

.items {
    width: 200px;
    position: relative;
}

.itemsText {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% / 3 * 2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items h4 {
    margin-top: 5px;
    color: white;
}

.items img {
    width: 100%;
    height: auto;
}

.hudLeft {
    width: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav img{
    width: 100px;
}

nav button {
    background-color: transparent;
    border: none;
    padding: 0;
}

@media only screen and (max-height: 480px) {
    .hudLeft {
        width: 110px;
        margin-left: 0.5rem;
        margin-top: 0.3rem;
    }
    nav img{
        width: 55px;
    }
    .items {
        width: 140px;
        position: relative;
    }
    .items h4 {
        margin-top: 5px;
        color: white;
        font-size: 16px;
    }
    
}