.building {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 210px;
    height: 260px;
    background-image: url('../../../public/images/ui/build_card_2_shadow.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.building img {
    image-rendering: pixelated;
    width: 100px;
    padding-top: 1rem;
    padding-bottom: 0;
}

.building h4{
    padding-top: 10px;
}
.btnGroup{
    display: flex;
    justify-content: space-between;
    width: 210px;
}

.btnBuilding{
    background-image: url("../../../public/images/ui/btn_bg_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    height: 55px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    font-weight: 600;
    padding-bottom: 0.5rem;
    text-shadow: 2px 2px black;
}
.btnQuestionBuilding{
    border: none;
    background-color: rgba(240, 248, 255,0);
    padding: 0px;
    margin: 0px;
}
.btnQuestionBuilding img{
    width: 50px;
    padding: 0px;
}

@media only screen and (max-height: 480px) {
    .building {
        width: 100%;
        height: auto;
        max-width: 160px;
        height: 200px;
    }   
    .building img {
        width: 80px;
        padding-top: 0.2rem;
    }
    .building h4{
        padding-top: 10px;
        font-size: 16px;
    }
    .btnBuilding{
        width: 100px;
        height: 40px;
        font-weight: 600;
        font-size: 12px;
    }
    .btnQuestionBuilding img{
        width: 35px;
    }
    

}