.battleReportContainer {
    height: 60vh;
    overflow-y: auto;
}

.battleReportItem {
    background-color: aqua !important;
}

.battleContainer{
    background-color: rgb(155, 91, 19);
    background-image: url('../../../../public/images/ui/contentbg2.png');
    background-size: cover;
}