@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Permanent+Marker&family=Press+Start+2P&family=Rubik+Dirt&display=swap');

/*
font-family: 'Frijole', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Dirt', cursive;
*/
.menu-container{
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-container {
    width: 200px;
    height: 700px;
    z-index: 200;
    position: fixed;
    display: flex;
}

.nav-img-menu button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.nav-img-menu{
    width: 200px;
    justify-content: space-between;
}
.menupont{
    width: 100px;
}
.nav-item-component{
    width: 1200px;
    height: 95px;
    justify-content: space-between;
    margin-left: 250px;
    position: fixed;
    z-index: 200;
    display: flex;
}
.nav-item-component img{
    flex-direction: column;
}
.nav-profile{
    width: 200px;
}


@media screen and (min-width: 2560px) {
    .nav-img-menu{
        width: 400px;
        justify-content: space-between;
    }
    .menupont{
        width: 200px;
    }
    .nav-container2 {
        width: 400px;
    }
    .nav-profile{
        width: 400px;
    }
}

@media screen and (min-width: 3840px) {
    .nav-img-menu{
        width: 800px;
        justify-content: space-between;
    }
    .menupont{
        width: 400px;
    }
    .nav-container2 {
        width: 800px;
    }
    .nav-profile{
        width: 800px;
    }
}