.stats {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
}

.manager-side-menu{
    background-image: url('../../../../public/images/stat_1_light.png');
    background-repeat: repeat-y;
    background-size: contain;
}
