
.information{
    background-color: rgba(139, 86, 17, 0.336);
    padding: 30px; 
    border-radius: 20px;  
    color: aliceblue;        
}

.information p{
    font-size: 130%;
    text-align: center;
}

.makers{
    padding-top: 2rem;
    text-align: center;
}

.tcard-body{   
    margin-top: 10px;    
}

.card-img-fluid{    
    width: 8vw;
    margin-top: 6px;
}

.tcard-title{
    font-size: 130%; 
}

.tcard-name{
    font-size: 130%; 
    margin:0;
}

.tcard-text a{
    text-decoration: none;
    color: lightblue;
}