
.content-tbg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-tms{ 
    z-index: 302;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0;
    margin: 0;
}

.tutorial-container{ 
    padding-top: 20px;
    color: azure;
}

.tutorial-inform{
    font-size: xx-large;
    margin: 100px 40px 0px 90px;
    box-sizing: border-box;
}

.tutorial{
    margin: 0 0 1rem 0;
    font-size: 150%;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(149, 100, 8);
    padding-left: 11rem;
}

.information{
    background-color: rgba(139, 86, 17, 0.336);
    padding: 30px; 
    border-radius: 20px;  
    color: aliceblue;        
}

.information p{
    font-size: 130%;
}

.makers{
    padding-top: 2rem;
    margin: 2rem;
}

.tcard-body{    
    padding: 2rem 6rem 0 6rem;
    margin-top: 10px;    
}

.card-img-fluid{    
    width: 8rem;
    margin-top: 6px;
}

.tcard-title{
    font-size: large; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tcard-name{
    font-size: larger;
    margin:0;
}
.tcard-text{
    font-size: large;
}

.container-cards{
    display: flex;
    padding: 0;
    margin: 0;
}

.back{
    font-size: x-large;
    margin-top: 2rem;
}