
.not-list-container{
    width: 95%;
    background-color: rgba(0, 0, 0, 0.501);
    height: 200px;
    margin: 10px;
    color: aliceblue;
    border-radius: 10px;
}
.not-list-container img{
    image-rendering: pixelated;
}
.not-close{
    width: 75px;
    position: relative;
    float: right;
    z-index: 301;
}
.not-btn{
    background-image: url("../../../public/images/ui/btn_bg_1.png");
    width: 200px;
    height: 70px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}
.not-btn2{
    background-image: url("../../../public/images/ui/btn_bg_delete.png");
    width: 130px;
    height: 70px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    background-repeat: no-repeat;
}