
.expedition{
    margin-top: 1rem;
    background-color: rgba(139, 86, 17, 0.336);
    padding: 30px; 
    border-radius: 20px;
    color: aliceblue;
}

.expedition h2{
    font-size: 150%;
    text-align: center;
}

.edificult{
    padding-top: 2rem;
    justify-content: space-between;
    text-align: center;
}

.ecard-text{
    font-size: 140%;
    margin-top: 2rem;
    max-width: max-content;
}

.ecard-img-fluid{
  width: 14vw;
  margin-bottom: 2rem;
}

.expedition-btn{
    background-image: url("../../../public/images/ui/btn_bg_2.png");
    width: 200px;
    height: 75px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    padding: 0 6;
    font-size: 120%;
}