.bg-pop{
    background-image: url('../../../../public/images/icon-background.png');
    background-color: transparent;
    background-repeat: repeat-x;
    background-size: cover;

    width: 100px;
    height: 140px;
    text-align: center;;
    color: aliceblue;
    font-weight: 700;
}